<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pc.business.mapper.PersonnelInfoMapper">
    <select id="getPersonnelInfo" resultType="com.pc.business.model.permodel.User">
    SELECT
	  YGBH empCode,
	  PIMPERSONNAME empName,
	  ORMORGID orgId,
	  ORMORGSECTORID orgsectorId,
	  ZW position,
	  GW post,
	  ZJHM IDCard,
	  CSRQ birth,
	  AGE age,
	  LXDH phone
    FROM
	  m_pcmdetail
    </select>
</mapper>