<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pc.gateway.mapper.LoginMapper">
    <select id="getUserCount" parameterType="java.lang.String" resultType="int">
        select count(1)
        from r_loginaccount
        where LOGINACCOUNTNAME=#{userName}
        and  PWD=#{password}
    </select>

    <select id="getUserInfo" parameterType="java.lang.String" resultType="com.pc.gateway.bean.UserInfoBean">
        SELECT
          USERID         userId,
          LOGINACCOUNTID accountId,
          LOGINACCOUNTNAME accountName
        FROM r_loginaccount
        WHERE LOGINACCOUNTNAME =#{userName} ;
    </select>
</mapper>